{{template "layout" .}}

{{define "pageTitle"}}Authenticate using gematik Authenticator{{end}}

{{define "content"}}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card text-center">
                <div class="card-header">
                    Authentication
                </div>
                <div class="card-body">
                    <h5 class="card-title">gematik Authenticator</h5>
                    <p class="card-text">Please follow the instructions in the gematik Authenticator App to authenticate.</p>
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                          <span class="sr-only">Waiting...</span>
                        </div>
                    </div>
                    <p> </p>
                    <a href="/web/login" class="btn btn-outline-danger">Cancel</a>  
                </div>
            </div>
        </div>
    </div>
</div>

<script type="module">
    import { startDecoupledAuth } from  "/static/authenticator-module.js";
    window.onload = function() {
        startDecoupledAuth("{{ .authURL }}");
    }
</script>
{{end}}