{{ template "layout" . }}

{{ define "pageTitle" }}User Information{{ end }}

{{ define "content" }}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card text-center">
                <div class="card-header">
                    User Information
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <label for="colFormLabel" class="col-sm-2 col-form-label">Issuer</label>
                        <div class="col-sm-10">
                            <span class="form-control d-flex justify-content-start">{{.userInfo.Issuer}}</span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="colFormLabel" class="col-sm-2 col-form-label">Identifier</label>
                        <div class="col-sm-10">
                            <span class="form-control d-flex justify-content-start">{{.userInfo.Identifier}}</span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="colFormLabel" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <span class="form-control d-flex justify-content-start">{{.userInfo.Name}}</span>
                        </div>
                    </div>

                    <div class="row text-start">
                        <p class="d-inline-flex gap-1">
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#accessToken" aria-expanded="false" aria-controls="accessToken">
                              Details
                            </button>
                            <a href="/web/login" class="btn btn-outline-danger">Logout</a>
                        </p>
                        <pre class="collapse" id="accessToken">{{.userInfo.AccessTokenJson}}</pre>
                    </div>
            </div>
        </div>
    </div>
</div>
{{ end }}