{
	pep {
		jwks_path test_jwks.json
	}
}

http://127.0.0.1:8010 {
	handle /.well-known/oauth-protected-resource {
		header Content-Type application/json
		root ./static
		file_server
	}

	route / {
		respond "I have /public and /protected resources" 200
	}

	route /public {
		respond "Hi, I am public resource - everyone can see me." 200
	}

	route /protected {
		enforce_policy {
			verify_bearer
			scope protected
		}
		respond "Hello from behind the curtain. I am protected resource (scope: protected)" 200
	}

	route /protected-complex {
		enforce_policy {
			any_of {
				all_of {
					verify_bearer
					scope edit
				}
			}
		}
		respond "Hello from behind the curtain. I am resource protected with complex rules" 200
	}

	route /* {
		header Content-Type application/json
		respond 404 {
			body "{\"error\": \"not_found\", \"description\": \"The requested resource was not found\"
		}		"
		}
	}
}
