{
	pep {
		jwks_path test_jwks.json
	}
}

localhost:2019 {
	route / {
		respond "I have /public and /protected resources" 200
	}

	route /public {
		respond "Hi, I am public resource - everyone can see me." 200
	}

	route /protected {
		enforce_policy {
			scope protected
		}
		respond "Hello from behind the curtain. I am protected resource (scope: protected)" 200
	}
}
