/* Basic reset for standard styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  /*height: 100vh;*/
  transition: background-color 0.3s, color 0.3s;
}

.container {
  width: 90%; /* Container with margin */
  max-width: 500px; /* Maximum width for large screens */
}

.healthid-signin-button {
  background-color: #007aff; /* Apple primary blue */
  color: white;
  border: none;
  border-radius: 14px;
  padding: 15px 20px;
  text-align: center;
  display: block;
  width: 100%;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.healthid-signin-button:hover {
  background-color: #005ecb; /* Darker shade on hover */
}

/* Styles for dark mode */
@media (prefers-color-scheme: dark) {
  body {
      background-color: #1c1c1e; /* Dark mode background */
      color: white;
  }

  .login-button {
      background-color: #0a84ff; /* Dark mode button color */
  }

  .login-button:hover {
      background-color: #0077d7; /* Dark mode hover color */
  }

  a {
    color: lightskyblue;
  }

  a:visited {
    color: lightskyblue;
  }
}

/* Responsive design adjustments */
@media (max-width: 600px) {
  .container {
      width: 95%; /* Slightly more width on smaller screens */
  }
}

/* Existing styles... */

.google-signin-button {
  background-color: white;
  color: black;
  border: 1px solid #ddd;
  border-radius: 14px;
  padding: 15px 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 18px;
  margin-top: 10px; /* Space between buttons */
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.google-signin-button:hover {
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.google-signin-button .fab {
  margin-right: 10px;
  font-size: 20px;
}

.healthid-signin-button .fa-solid {
  margin-right: 10px;
  font-size: 20px;
}
