{{template "layout" .}}

{{define "pageTitle"}}Authorization complete{{end}}

{{define "content"}}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card text-center">
                <div class="card-header bg-primary text-white">
                    Authorization complete
                </div>
                <div class="card-body">
                    <h5 class="card-title">Successfully authorized Zero Trust access-</h5>
                    <p class="card-text">Please continue on original device or application.</p>
                    <a href="javascript:window.close()" class="btn btn-outline-secondary">Close</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}